<footer>
	<div class="container-fluid black">
		<div class="container black">
			<div class="row">
				<div class="col-xs-12">
		      <p class="footer-nav center-block">
		      	<a href="/">HOME&nbsp;</a>&nbsp;|&nbsp;
		      	<a href="/archive.html">ARCHIVE&nbsp;</a>&nbsp;|&nbsp;
		      	<a href="/about.html">ABOUT&nbsp;</a>
		      </p>

    			<p>FOLLOW US:</p>
    			
          <a href="https://matineeculture.wordpress.com/" target="_blank">
          	<img src="{{ site.baseurl }}/img/facebook-icon.png" alt="Facebook" class="social">
          </a>
          
          <a href="https://twitter.com/starwars_tcs" target="_blank">
          	<img src="{{ site.baseurl }}/img/twitter-icon.png" alt="Twitter" class="social">
          </a>

          <a href="https://matineeculture.wordpress.com/" target="_blank">
          	<img src="{{ site.baseurl }}/img/wp-icon.png" alt="WordPress" class="social">
          </a>

          <p class="copyright">&copy; {{ site.time | date: '%Y' }} Ryan Howard<br> Star Wars:TCS is a <a href="https://matineeculture.wordpress.com/" target="_blank">Matinee Culture</a> blog.</p>
				</div><!-- /col -->
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /container-fluid -->
</footer>
