<footer>
	<div class="container-fluid black">
		<div class="container black">
			<div class="row">
				<div class="col-xs-12">
		      <p class="footer-nav center-block">
		      	<a href="/">HOME</a>&nbsp;|&nbsp;
		      	<a href="/archive.html">ARCHIVE</a>&nbsp;|&nbsp;
		      	<a href="/about.html">ABOUT</a>
		      </p>

    			<p>FOLLOW US:</p>
    			
          <a href="https://matineeculture.wordpress.com/" target="_blank">
          	<img src="{{ site.baseurl }}/img/facebook-icon.png" alt="" class="social">
          </a>
          
          <a href="https://twitter.com/starwars_tcs" target="_blank">
          	<img src="{{ site.baseurl }}/img/twitter-icon.png" alt="" class="social">
          </a>

          <a href="https://matineeculture.wordpress.com/" target="_blank">
          	<img src="{{ site.baseurl }}/img/wp-icon.png" alt="" class="social">
          </a>

          <p class="copyright">&copy; 2015 Ryan Howard<br> Star Wars:TCS is a Matinee culture blog.</p>
				</div><!-- /col -->
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /container-fluid -->
</footer>
