<header>
  <div class="container-fluid black">
    <div class="container black">    
      <div class="row">
        <div class="col-sm-5">
          <img src="img/logo.png" class="logo img-responsive" alt="Star Wars: The Completionist Saga">
        </div><!-- /col -->
        
        <div class="col-sm-7">
          <nav class="main-nav">
            <ul>
              {% if page.nav == "blog" %}
                <li><a href="/" class="active">BLOG</a></li>
              {% else %}
                <li><a href="/">BLOG</a></li>
              {% endif %}

              {% if page.nav == "archive" %}
                <li><a href="/archive.html" class="active">ARCHIVE</a></li>
              {% else %}
                <li><a href="/archive.html">ARCHIVE</a></li>
              {% endif %}
              
              {% if page.nav == "about" %}
                <li><a href="/about.html" class="active">ABOUT</a></li>
              {% else %}
                <li><a href="/about.html">ABOUT</a></li>
              {% endif %}
              
              {% if page.nav == "contact" %}
                <li><a href="/contact.html" class="active">CONTACT</a></li>
              {% else %}
                <li><a href="/contact.html">CONTACT</a></li>
              {% endif %}
            </ul>
          </nav>
        </div><!-- /col -->
      </div><!-- /row -->
    </div><!-- /container -->
  </div><!-- /container-fluid -->
</header>