<header>
  <div class="container">    
    <h5 class="logo">Star Wars: The Complete Saga</h5>
    
    <nav class="main">
      <ul>
        {% if page.nav == "blog" %}
          <li><a href="/" class="active">Blog</a></li>
        {% else %}
          <li><a href="/">Blog</a></li>
        {% endif %}
        
        {% if page.nav == "about" %}
          <li><a href="about.html" class="active">About</a></li>
        {% else %}
          <li><a href="about.html">About</a></li>
        {% endif %}
        
        {% if page.nav == "contact" %}
          <li><a href="contact.html" class="active">Contact</a></li>
        {% else %}
          <li><a href="contact.html">Contact</a></li>
        {% endif %}

        {% if page.nav == "archive" %}
          <li><a href="archive.html" class="active">Archive</a></li>
        {% else %}
          <li><a href="archive.html">Archive</a></li>
        {% endif %}
      </ul>
    </nav>
    
    <div class="nav-slider">
      <div class="nav-selection {{ page.nav }}"></div>
    </div>
  </div>
</header>