// ------ GENERAL ------ //
html, body {
	height: 100%;
}

//sticky footer stuff 
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -226px; 
}

.page-wrap:after {
  content: "";
  display: block;
}

footer, .page-wrap:after {
  height: 226px; 
}
//end sticky footer stuff

body {
	color: $text-gray;
	font-family: $sans-serif;
	
	&.starry-bg {
		background-color: $bg-black;
		background-image : url(../img/starry-bg.jpg);
		background-size: contain;
	}
}

.container {
	
	&.main-container {
		padding: 20px;
	}
}

.black-bg {
	background-color: $container-black;
	border-radius: 8px;
}

.xtra-marg-bot {
	margin-bottom: 20px;
}

a {
	@include transition(.2s, all);

	&:hover {
		@include transition(.2s, all);
	}
}
// ------ END:GENERAL ------ //





// ------ NAV ------ //
header {
	font-family: $novelty-font;
	margin-bottom: 25px;
	border-bottom: 1px solid $orig-poster-gray;
}

.logo {
	@include transition(.2s, all);
	padding: 10px 0;

	&:hover {
		@include transition(.2s, all);
		opacity: .8;
	}
}

.black {
	background-color: $bg-black;
}

.main-nav {
	margin-top: 10px;
	font-size: 1.5em;

	@media (max-width: $screen-xs-max) { 
		margin-top: 0;   
	}

	ul {
		@media (max-width: $screen-xs-max) { 
    		padding: 0;
		}

		li {
			display: inline-block;
			padding: 10px;

			@media (max-width: $screen-xs-max) { 
    			font-size: 12px;
			}

			a {
				font-weight: 700;
				color: $text-gray;

				&.active {
					color: $orig-poster-blue;
					text-decoration: underline;
				}
			}
		}
	}
}//end .main-nav
// ------ END:NAV ------ //




// ------ POST LISTING ------ //
.post {
	@include transition(.2s, all);
	margin: 20px 0;
	border-bottom: 2px solid darken($orig-poster-gray, 30%);
	background-color: darken($container-black, 2%);
	color: $almost-white;
	border-radius: 8px;
	
	.post-img {
		@include transition(.2s, all);
		opacity: .9;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
	}
	
	.post-chunk {
		padding-bottom: 5px;
		border-bottom: 1px solid darken($orig-poster-gray, 30%);
	}

	.post-title {
		@include transition(.2s, all);
		font-family: $sans-serif-alt;
		font-weight: 700;
		text-transform: uppercase;
		margin: 0 0 5px 0;
		color: $almost-white;
	}

	.post-author {
		@include transition(.2s, all);
		margin: 0;
		font-size: .9em;
	}
	
	.post-excerpt {
		@include transition(.2s, all);
		margin-top: 10px;
	}

	.post-content {
		padding: 15px;
		color: darken($almost-white, 15%);
	}

	.post-continue-reading {
		@include transition(.2s, all);
		font-family: $sans-serif-alt;
		color: $orig-poster-blue;
		text-transform: uppercase;
	}

	a:hover {
		text-decoration: none;
	}

	&:hover {
		@include transition(.2s, all);
		border-color: $orig-poster-blue;
		background-color: darken($container-black, 3%);
		
		.post-title {
			@include transition(.2s, all);
			color: lighten($almost-white, 5%);

			&:hover {
				color: $orig-poster-blue; 
			}
		}

		.post-excerpt {
			@include transition(.2s, all);
			color: lighten($almost-white, 5%);
		}

		.post-author {
			@include transition(.2s, all);
			color: lighten($almost-white, 5%);
		}

		.post-img {
			@include transition(.2s, all);
			opacity: 1;
		}

		.post-continue-reading {
			@include transition(.2s, all);
			color: lighten($orig-poster-blue, 10%);

			&:hover {
				color: darken($orig-poster-blue, 10%);
			}
		}
	}

	&.featured {
		border-color: darken($orig-poster-gray, 30%);

		&:hover {
			@include transition(.2s, all);
			border-color: $orig-poster-red;

			.post-content {
				@include transition(.2s, all);
				border-color: $orig-poster-red;
			}

			.post-title {
				color: lighten($almost-white, 5%);
			}

			.featured-post-callout {
				@include transition(.2s, all);	
				color: lighten($orig-poster-red, 10%);
			}

			.post-img {
				@include transition(.2s, all);
				opacity: 1;
			}
		}

		.post-img {
			border-bottom-left-radius: 8px;
			border-top-right-radius: 0;	
			opacity: .9;
		}
		
		.featured-post-callout {
			@include transition(.2s, all);
			color: $orig-poster-red;
			font-family: $novelty-font;
			border-radius: 8px;

			@media (max-width: $screen-xs-max) { 
    			display: block;
    			margin-top: 10px;
			}
		}

		.post-title {
			@include transition(.2s, all);
			border-top: none;
			font-size: 2.2em;

			a {
				color: $almost-white;
			}

			&:hover {
				a {
					color: $orig-poster-red;
				}
			}
		}//end .post-title

		.post-author {
			@include transition(.2s, all);
			font-size: 1em;
		}
		
		.post-excerpt {
			@include transition(.2s, all);
			font-size: 1.1em;
		}

		.post-img {
			@include transition(.2s, all);
			opacity: .9;
		}

		.post-content {
			border-top: none;
			padding-left: 0;

			@media (max-width: $screen-xs-max) { 
    			padding: 0 15px;
			}
		}
	}//end &.featured
}//end .post

//override link hover color
a .post,  {
	color: initial;
}
// ------ END:POST LISTING ------ //




// ------ POSTS ------ //
.post-container {
	font-size: 1.2em;
	line-height: 26px;

	@media (max-width: $screen-xs-max) { 
		font-size: 1em;
		line-height: 22px;  
  	}

  	p {
  		margin-bottom: 15px;
  	}
	
	.post-col {
		background-color: #E6E6E6;
		color: $text-black;
		padding: 20px;
		border-radius: 6px;
		margin-bottom: 20px;	
		
		.post-header {
			padding: 20px 0;
			border-bottom: 4px solid $orig-poster-blue;
			margin-bottom: 20px;

			.title {
				font-family: $sans-serif-alt;
				font-weight: 700;
				text-transform: uppercase;
				margin-top: 0;
				font-weight: bold;
			}

			.author {
				margin: 0;
			}

			.date {
				margin: 0;
			}
		}
	
		p {	
			margin-bottom: 20px;
		}
	}//end .post-col

	.related-posts-col {
		color: $text-black;
		// background-color: #E6E6E6;
		border-radius: 6px;
		padding: 20px;
		
		h2 {
			margin-top: 0;
		}

		.related-post-container {
			background-color: $bg-black;
			border: 2px solid black;
			padding: 15px;
		}
	}
}//end .post-container
// ------ END:POSTS ------ //





// ------ ARCHIVE ------ //
.archive-container {

	.posts-list {
		list-style: none;
	}

	h1 {
		font-family: $sans-serif-alt;
		font-weight: 700;
		padding-bottom: 10px;
		margin-bottom: 20px;
		border-bottom: 4px solid $orig-poster-gray;
	}
}
// ------ END:ARCHIVE ------ //




// ------ ABOUT ------ //
.about-container {
	h1 {
		font-family: $sans-serif-alt;
		font-weight: 700;
		padding-bottom: 10px;
		margin-bottom: 20px;
		border-bottom: 4px solid darken($orig-poster-gray, 30%);
	}

	.bio-container {
		padding-bottom: 10px;
		margin-bottom: 25px;
		border-bottom: 4px solid darken($orig-poster-gray, 30%);
		
		.name {
			font-family: $sans-serif-alt;
			font-size: 1.4em;
			color: $orig-poster-blue;
		}

		.bio-pic {
			border-radius: 8px;
			max-height: 300px;
		}
	}//end .bio-container
}
// ------ END:ABOUT ------ //




// ------ 404 ------ //
.go-home {
	font-family: $novelty-font;
	margin-top: 20px;
	font-size: 2em;
}
// ------ END:404 ------ //





// ------ FOOTER ------ //
footer {
	padding: 30px 0;
	margin-top: 25px;
	border-top: 1px solid $orig-poster-gray;
	background-color: $bg-black;
	text-align: center;
	font-family: $novelty-font;
	
	.footer-nav {
		margin-bottom: 25px;
	}

	.social {
		@include transition(.2s, all);
		width: 36px;
		height: 36px;
		margin-bottom: 10px;
	}

	a {
		&:hover {
			text-decoration: none;
		}

		.social {
			&:hover {
				@include transition(.2s, all);
				opacity: .8;
				text-decoration: none;
			}
		}
	}

	.copyright {
		color: gray;
		font-family: $sans-serif;
		font-size: .9em;
		margin-bottom: 0;
	}
}
// ------ END:FOOTER ------ //





