$bg-black         : #171717;
$text-gray        : #DDD;
$text-black       : #424040;
$container-black  : rgba(30, 30, 30, .85);
$orig-poster-gray : darken(rgb(223, 223, 223), 40%);
$orig-poster-blue : rgb(14, 119, 223);
$orig-poster-red  : rgb(182, 8, 0);
$almost-white     : rgb(221, 221, 221);