<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }} | SW:TCS</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <!-- STYLES -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css"> 

    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </head>
  
  
  <body class="starry-bg">
    <div class="page-wrap">
      {% include header.html %}
      
      {{ content }}
    </div><!-- /page-wrap -->
    
    {% include footer.html %}
  </body>
  
  {% include scripts.html %}
</html>