<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }} | SW:TCS</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <!-- STYLES -->
    <link rel="stylesheet" href="/css/main.css">

    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </head>
  
  
  <body class="starry-bg">
    {% include header.html %}
    
    <div class="container post-container">
      <div class="row">
        <div class="post-col col-md-8 col-md-push-2">
          <div class="post-header">
            <h1 class="title">{{ page.title }}</h1>
            <p class="date">{{ page.date | date_to_long_string }}</p>
            <p class="author">by: {{ page.author }}</p>
          </div><!-- /post-header -->
          
          <div class="post-content">
            {{ content }}
          </div><!-- /post-content -->
        </div><!-- /col -->
      </div><!-- /row -->

      <div class="row">      
        <div class="related-posts-col col-sm-8 col-sm-push-2">
          <h2>Recent Posts:</h2>

          <div class="row">
            {% assign titleOfCurrentPost = "{{ page.title }}" %}
            {% assign allPostsButThisOne = (site.posts | where: "title" , != titleOfCurrentPost) %}
            
            {% for post in allPostsButThisOne limit:2 %}
              <div class="col-sm-6">
                <div class="related-post-container">
                  <span>{{ post.title }}</span>
                </div><!-- /related-post-container -->
              </div><!-- /col -->
            {% endfor %}
          </div><!-- /row -->
        </div><!-- /col -->
      </div><!-- /row -->
    </div><!-- /container -->
    
    {% include footer.html %}
  </body>
  
  {% include scripts.html %}
</html>